* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color:#b8b8d2 ;
}

header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  background-color: #8c89a1;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

header h1 {
  font-size: 1.9em;
  font-weight: 200;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

nav ul li {
  font-size: 20px;
}

nav ul li a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: black;
}

.toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.container{
  width: 50%;
  margin-left: 25%;
  justify-content: center;
  height: 150px;
  display: flex;
  gap: 5px;
  margin-top: 50px;
}

.container img{
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid white;
  transition: all ease-out 0.5s;
  cursor: pointer;
}

.container img:hover{
  width: 70%;
}

.main-login{
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login{
  width: 60vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1{
  color:black;
  font-size: 3vw;
}

.left-login-image{
  width: 55%;
  box-shadow: 0px 15px 50px #21214b;
}

footer {
  width: 100%;
  margin-top: 5.1rem;
  background-color: #5f357daf;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  font-size: 0.9em;
  font-weight: 200;
  color: #fff;
}

@media only screen and (max-width: 600px){
  .main-login{
    flex-direction: column;
  }
  .left-login > h1{
    display: none;
  }
  .left-login{
    width: 100%;
    height: auto;
  }

  .left-login-image{
    width: 50vw;
  }
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    position: static;
    transform: none;
    text-align: center;
    margin: 10px 0;
  }

  .menu {
    width: 100%;
    justify-content: flex-end;
  }

  .toggle {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #b8b8d2;
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    padding: 10px 20px;
    border-top: 1px solid #b8b8d2;
  }
}



  