
body {
  background-color: #b8b8d2;
  margin: 0;
  font-family: Georgia;
  color: #282828;

}




header .cart {
  border-radius: 20px;
  margin: 25px 100px;
  float: right;
  border: 1px solid #f1f1f4;
  padding: 10px 30px;
  background-color:#898eb8;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.button {
  margin: 70px;
  background-color: #898eb8;
  border-radius: 20px;
  border: 1px solid #f1f1f4;
  font-size: 18px;
  width: 160px;
  height: 60px;
  color: white;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.variant-button {
  margin: 20px;
  width: 75px;
  background-color: #898eb8;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.variant-button:hover {
  outline: 3px solid #938f93;
}

.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

/* Títulos e textos */
h1 {
  font-size: 50px;
  text-shadow: 1px 1px 1px white;
  color: #5f357daf;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 22px;
}

li {
  font-size: 18px;
}

/* Imagens */
img {

  border: 2px solid #d8d8d8;
  width: 50%;
  height: 420px;
  margin: 40px;
  padding: 15px;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.out-of-stock-img {
  opacity: 0.5;
}


input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
}

select {
  height: 40px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

textarea {
  width: 95%;
  height: 70px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

/* Estrutura principal */
main {
  padding: 10rem;
  
}

.product-display {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 5px 
  
  outset #9ba0d0;
}

.product-image,
.product-info {
  width: 50%;
  
}


.review-form {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin: 40px;
  border: 2px solid #d8d8d8;
  background-color: white;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);

}

.review-form .button {
  display: block;
  margin: 30px auto;
}

.review-container {
  width: 425px;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 20px -12px rgba(0, 0, 0, 0.57);
  margin-left: 40px;
  border: 2px solid #d8d8d8;
}

.review-container li {
  margin-bottom: 30px;
}

/* Footer */
footer {
  background-color: #5f357daf;
  margin-top: 14.6%;
  padding: 16.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  font-size: 0.9em;
  font-weight: 200;
}


@media only screen and (max-width: 600px) {
  .product-container {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    margin-left: 10px;
    width: 100%;
  }

  .review-form {
    width: 90%;
  }
}

/* Remover marcadores de lista */
ul {
  list-style-type: none;
}
